@model TrainerSystem.Models.Application.Dog
@{
    ViewBag.Title = "חיסוני הכלב";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("חיסון חדש", "New", "Vaccines", new { @dogId = Model.Id}, new { @class = "btn btn-primary" })

<div class="mt-2">
    <table class="table table-hover table-borderless text-center">
        <thead>
            <tr class="table-primary">
                <th>שם חיסון</th>
                <th>תאריך</th>
                <th colspan="2">נהל</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vaccine in Model.Vaccines)
            {
                <tr class="align-middle">
                    <td>
                        <div class="btn ">@vaccine.Name</div>
                    </td>
                    <td class="align-middle">@vaccine.CreateDate.ToShortDateString()</td>
                    <td>
                        @Html.ActionLink("עריכה", "Edit", "Vaccines", new { @id = vaccine.Id }, new { @class = "btn btn-warning" })
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete", "Vaccines", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <input type="hidden" class="hide" name="id" id="id" value="@vaccine.Id" />
                            <button type="submit" class="btn btn-danger">מחיקה</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>