@using TrainerSystem.Models
@using TrainerSystem.Models.Application.AppSystem
@model TrainerSystem.Models.RegisterViewModel
@{
    ViewBag.Title = "הרשמה";
    var _context = new ApplicationDbContext();
    var membershipTypes = _context.MembershipTypes;
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>צור משתמש חדש.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sex, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Sex, new SelectList(Settings.Genders, "Id", "Name"), "בחר סוג", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MembershipTypeId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.MembershipTypeId, new SelectList(membershipTypes, "Id", "Name"), "בחר סוג", new { @class = "form-control", @id = "MembershipTypes" })
        </div>
    </div>
    <div class="col-md-4 mt-2">
        <table style="max-width: 280px;" class="table text-dark table-hover text-center table-primary table-bordered">
            <thead class="">
                <tr>
                    <th>שם</th>
                    <th>חודשים</th>
                    <th>מחיר</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in membershipTypes)
                {
                    var fee = "";
                    if (m.SignUpFee > 999 && m.SignUpFee < short.MaxValue)
                    {
                        var temp = m.SignUpFee.ToString();
                        for (int i = 0; i < temp.Length; i++)
                        {
                            if (i == 1)
                            {
                                fee += ',';
                            }
                            fee += temp[i];
                        }
                    }
                    else
                    {
                        fee = m.SignUpFee.ToString();
                    }
                    <tr class="memberRow" id="m-@m.Id" style="display:none;">
                        <td>@m.Name</td>
                        <td>@m.DurationInMonths</td>
                        <td>@fee ש"ח</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-outline-primary" value="הרשמה" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document)
            .ready(function () {
                var membershipTypes = $("#MembershipTypes");

                membershipTypes.change(function () {
                    var id = $(this).val();
                    $(".memberRow").hide();
                    $("#m-" + id).show();
                });
            });
    </script>
}
